VITE_FIREBASE_API_KEY=AIzaSyCrUlMAFgsWL6eHH_Pux1F7WZyY0ZMsfEY
VITE_FIREBASE_AUTH_DOMAIN=xenlabs-a3f42.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=xenlabs-a3f42
VITE_FIREBASE_STORAGE_BUCKET=xenlabs-a3f42.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=852476040238
VITE_FIREBASE_APP_ID=1:852476040238:web:6ef1121c6634006b2f7bbf
VITE_FIREBASE_MEASUREMENT_ID=G-QWT4RFZ6S7
VITE_ADMIN_EMAIL=SHREYASSAHA00@GMAIL.COM
